In [33]:
# Methods/functions we created
import City_Preprocessing as zillowPro
import Gentrification_Control as gentPro
import Time_Series_KMeans_Utils as tsUtils

# Libraries
import pandas as pd
import numpy as np
from tslearn.metrics import dtw, cdist_dtw
from tslearn.preprocessing import TimeSeriesResampler
from tslearn.utils import to_time_series, to_time_series_dataset
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import MinMaxScaler
from tslearn.clustering import TimeSeriesKMeans

# Raw Zillow city time series data with all 81 features
city_raw = pd.read_csv('/Users/briankalinowski/PycharmProjects/CIS600/zecon/City_time_series.csv')

In [ ]:
# Geo and housing features
housing_features = ['Date', 'RegionName', 
                    'Sale_Counts_Seas_Adj',
                    'InventorySeasonallyAdjusted_AllHomes',
                    'PctOfHomesDecreasingInValues_AllHomes',
                    'PctOfHomesIncreasingInValues_AllHomes']

# all our housing measurement features
housing_values = ['Sale_Counts_Seas_Adj',
                  'InventorySeasonallyAdjusted_AllHomes',
                  'PctOfHomesDecreasingInValues_AllHomes',
                  'PctOfHomesIncreasingInValues_AllHomes']

lookup_ix = ['State', 'City']
full_ix = ['State', 'City', 'Date']

city_housing_data = zillowPro.process_city_data(city_raw, housing_features, housing_values, lookup_ix, full_ix)

print('Housing Data Shape:', city_housing_data.shape)
print('Unique State/City Groups:', city_housing_data.groupby(['State', 'City']).ngroups)
city_housing_data.head(21)

/anaconda/envs/CIS600/lib/python3.7/site-packages/pandas/core/frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [4]:
city_housing_data.values.isna().any()

city_housing_data.isna().values.any()

city_housing_data[city_housing_data.isna().any(axis=1)]

,State,City,Date,AVG_Sale_Counts_Seas_Adj,AVG_InventorySeasonallyAdjusted_AllHomes,AVG_PctOfHomesDecreasingInValues_AllHomes,AVG_PctOfHomesIncreasingInValues_AllHomes
4163,NY,Springville,2007,NaN,NaN,NaN,NaN
5114,NY,Town of Hamburg,2007,NaN,NaN,NaN,NaN
5427,NY,Lancaster,2007,NaN,NaN,NaN,NaN
5428,NY,Lancaster,2008,NaN,NaN,NaN,NaN
5429,NY,Lancaster,2009,NaN,NaN,NaN,NaN
6097,NY,Evans,2007,NaN,NaN,NaN,NaN
8015,NY,West Seneca,2007,NaN,NaN,NaN,NaN
8016,NY,West Seneca,2008,NaN,NaN,NaN,NaN
8017,NY,West Seneca,2009,NaN,NaN,NaN,NaN
8176,KY,Shepherdsville,2000,NaN,NaN,NaN,NaN
8177,KY,Shepherdsville,2001,NaN,NaN,NaN,NaN
9414,WA,Walnut Grove,2000,NaN,NaN,NaN,NaN
9415,WA,Walnut Grove,2001,NaN,NaN,NaN,NaN
12339,NY,Grand Island,2007,NaN,NaN,NaN,NaN
14561,NY,Town of Alden,2007,NaN,NaN,NaN,NaN
15718,NY,Clarence,2007,NaN,NaN,NaN,NaN
15760,NY,Elma,2007,NaN,NaN,NaN,NaN
18775,NY,Lackawanna,2007,NaN,NaN,NaN,NaN
22438,TX,Rendon,1999,NaN,NaN,NaN,NaN
22439,TX,Rendon,2000,NaN,NaN,NaN,NaN
22440,TX,Rendon,2001,NaN,NaN,NaN,NaN
23599,NY,Depew,2007,NaN,NaN,NaN,NaN
23771,NE,Blair,2001,NaN,NaN,NaN,NaN
24105,NY,Boston,2007,NaN,NaN,NaN,NaN
24162,OK,Coweta,2001,NaN,NaN,NaN,NaN
25877,NY,East Aurora,2007,NaN,NaN,NaN,NaN
27274,NY,Tonawanda,2007,NaN,NaN,NaN,NaN
27275,NY,Tonawanda,2008,NaN,NaN,NaN,NaN
27276,NY,Tonawanda,2009,NaN,NaN,NaN,NaN

In [10]:
city_housing_data.fillna(method='bfill', inplace=True)
city_housing_data[city_housing_data.isna().any(axis=1)]

Empty DataFrame
Columns: [State, City, Date, AVG_Sale_Counts_Seas_Adj, AVG_InventorySeasonallyAdjusted_AllHomes, AVG_PctOfHomesDecreasingInValues_AllHomes, AVG_PctOfHomesIncreasingInValues_AllHomes]
Index: []

In [11]:
features_to_scale = ['AVG_Sale_Counts_Seas_Adj',
                    'AVG_InventorySeasonallyAdjusted_AllHomes',
                    'AVG_PctOfHomesDecreasingInValues_AllHomes',
                    'AVG_PctOfHomesIncreasingInValues_AllHomes']

city_housing_data = zillowPro.min_max_scale(city_housing_data, features_to_scale)
city_housing_data.head()

,State,City,Date,AVG_Sale_Counts_Seas_Adj,AVG_InventorySeasonallyAdjusted_AllHomes,AVG_PctOfHomesDecreasingInValues_AllHomes,AVG_PctOfHomesIncreasingInValues_AllHomes
0,CA,Folsom,1997,0.014904,0.013691,0.347986,0.498477
1,CA,Folsom,1998,0.014904,0.013691,0.095524,0.836393
2,CA,Folsom,1999,0.014904,0.013691,0.072787,0.888500
3,CA,Folsom,2000,0.014904,0.013691,0.039178,0.948618
4,CA,Folsom,2001,0.014904,0.013691,0.013899,0.982036

In [12]:
city_dtw_housing = gentPro.set_geo_dtw_data(city_housing_data)

In [13]:
# Cities MOST similar to our gentrification control
city_dtw_housing.sort_values(by='dtw_score', ascending=True).reset_index(drop=True).head(21)

           State              City  dtw_score  dtw_value  dtw_label
0   GENT_CONTROL      GENT_CONTROL   0.000000        0.0  HIGH_GENT
1             CO  Colorado Springs   0.589576        0.0  HIGH_GENT
2             OR          Portland   0.601900        0.0  HIGH_GENT
3             CA         San Diego   0.619170        0.0  HIGH_GENT
4             WA           Seattle   0.718773        0.0  HIGH_GENT
5             AZ            Tucson   0.728763        0.0  HIGH_GENT
6             AZ              Mesa   0.733445        0.0  HIGH_GENT
7             TN           Memphis   0.769357        0.0  HIGH_GENT
8             CO            Aurora   0.781570        0.0  HIGH_GENT
9             WI         Milwaukee   0.799147        0.0  HIGH_GENT
10            CA        Sacramento   0.807173        0.0  HIGH_GENT
11            NE             Omaha   0.827753        0.0  HIGH_GENT
12            FL          Sarasota   0.850169        0.0  HIGH_GENT
13            CA        Long Beach   0.853473        0.0  HIGH_GENT
14            TN         Knoxville   0.869410        0.0  HIGH_GENT
15            VA    Virginia Beach   0.875583        0.0  HIGH_GENT
16            AZ        Scottsdale   0.879102        0.0  HIGH_GENT
17            AZ          Chandler   0.893186        0.0  HIGH_GENT
18            CO            Denver   0.955125        0.0  HIGH_GENT
19            AZ           Gilbert   0.968305        0.0  HIGH_GENT
20            CA           Anaheim   0.994881        0.0  HIGH_GENT

In [14]:
# Cities LEAST similar to our gentrification control
city_dtw_housing.sort_values(by='dtw_score', ascending=False).reset_index(drop=True).head(21)

   State                  City  dtw_score  dtw_value dtw_label
0     NY              New York   4.398851        4.0   NO_GENT
1     IL               Chicago   3.629912        4.0   NO_GENT
2     NY                  Elma   2.174380        3.0  LOW_GENT
3     OH             Johnstown   2.060606        3.0  LOW_GENT
4     OH                Newark   2.043865        3.0  LOW_GENT
5     AZ               Phoenix   2.015426        3.0  LOW_GENT
6     IL           Carlinville   1.993913        3.0  LOW_GENT
7     PA        New Kensington   1.988533        3.0  LOW_GENT
8     NY            Wheatfield   1.982321        3.0  LOW_GENT
9     MI               Belmont   1.979379        3.0  LOW_GENT
10    IL            Long Grove   1.977659        3.0  LOW_GENT
11    OH                 Heath   1.972737        3.0  LOW_GENT
12    NY             Lancaster   1.968829        3.0  LOW_GENT
13    OH             Pataskala   1.964671        3.0  LOW_GENT
14    PA                Arnold   1.958687        3.0  LOW_GENT
15    IL                Girard   1.957171        3.0  LOW_GENT
16    PA                Donora   1.952845        3.0  LOW_GENT
17    IL              Staunton   1.947310        3.0  LOW_GENT
18    PA  Fallowfield Township   1.946314        3.0  LOW_GENT
19    TX               Terrell   1.937378        3.0  LOW_GENT
20    SC              Waterloo   1.937155        3.0  LOW_GENT

In [16]:
zillow_zpiv_ts = pd.read_csv('/Users/briankalinowski/Desktop/CIS600_DataMining/Zillow_Data_Clean/zillow_portal_zpiv.csv')
zillow_zpiv_ts = tsUtils.clean_zillow_ts_data(zillow_zpiv_ts, lookup_ix)
zillow_zpiv_ts.head()

,State,City,1997-02,1997-03,1997-04,1997-05,1997-06,1997-07,1997-08,1997-09,...,2018-06,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04
0,AL,Adamsville,0.7912,0.7358,0.5905,0.1004,0.3964,0.4181,0.5512,0.8473,...,0.884092,0.883041,0.682900,0.669909,0.677098,0.653495,0.577870,0.508083,0.485367,0.466795
1,AL,Addison,0.7849,0.7849,0.7849,0.7849,0.7849,0.7849,0.7849,0.7849,...,0.497226,0.616757,0.555377,0.463351,0.409036,0.374787,0.391630,0.329944,0.350684,0.336312
2,AL,Alabaster,0.3711,0.4108,0.5925,0.8298,0.9504,0.8520,0.5090,0.6752,...,0.761324,0.901996,0.921076,0.927003,0.932381,0.932705,0.927146,0.904728,0.907544,0.901604
3,AL,Alexander City,0.3740,0.3740,0.3740,0.3740,0.3740,0.3740,0.3740,0.3740,...,0.554625,0.285743,0.117682,0.118119,0.218253,0.267175,0.300942,0.332283,0.332051,0.303818
4,AL,Ardmore,0.8207,0.8207,0.8207,0.8207,0.8207,0.8207,0.8207,0.8207,...,0.766267,0.892922,0.839442,0.831345,0.825216,0.830107,0.803020,0.768582,0.670278,0.630585

In [21]:
zillow_zpiv_ts = zillow_zpiv_ts.dropna()

In [22]:
len(zillow_zpiv_ts)

10341

In [23]:
# Time-Series-KMeans
zpiv_kmeans_clustering = tsUtils.run_time_series_kmeans(zillow_zpiv_ts, lookup_ix, 23)
zpiv_kmeans_clustering.head()

0.521 --> 0.440 --> 0.408 --> 0.400 --> 0.396 -->

  State            City  dtw_cluster_prediction
0    AL      Adamsville                     2.0
1    AL         Addison                     3.0
2    AL       Alabaster                     0.0
3    AL  Alexander City                     4.0
4    AL         Ardmore                     2.0

In [31]:
zpiv_kmeans_clustering.loc[zpiv_kmeans_clustering['State'] == 'OR'].loc[zpiv_kmeans_clustering['City'] == 'Portland']

     State      City  dtw_cluster_prediction
7862    OR  Portland                     4.0

In [30]:
city_dtw_housing.loc[city_dtw_housing['State'] == 'OR'].loc[city_dtw_housing['City'] == 'Portland']

    State      City  dtw_score  dtw_value  dtw_label
992    OR  Portland     0.6019        0.0  HIGH_GENT

In [32]:
zpiv_kmeans_clustering.dtw_cluster_prediction.value_counts()

1.0    2535
4.0    2298
2.0    2170
3.0    1834
0.0    1504
Name: dtw_cluster_prediction, dtype: int64